{{# partial "titulo" }}
    <title>Patitas - Caracteristicas</title>
{{/partial}}


{{# partial "contenido" }}

	{{#caracteristicas}}
		<div class="accordion accordion-flush" id="accordionFlushCaracteristica{{nombreCaracteristica}}">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-caracteristica{{nombreCaracteristica}}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCaracteristica{{nombreCaracteristica}}" aria-expanded="false" aria-controls="flush-collapseCaracteristica{{nombreCaracteristica}}">
						Caracteristica: {{nombreCaracteristica}}
					</button>
				</h2>
				<div id="flush-collapseCaracteristica{{nombreCaracteristica}}" class="accordion-collapse collapse" aria-labelledby="flush-caracteristica{{nombreCaracteristica}}" data-bs-parent="#accordionFlushCaracteristica{{nombreCaracteristica}}">
					<div class="accordion-body">
						<ul>
                            {{#valoresCaracteristicas}}
                                    <li>{{this}}</li>
                            {{/valoresCaracteristicas}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{{/caracteristicas}}

	<div class="agregar-caracteristica">
		<a class="btn btn-primary" href="/nueva-caracteristica">
			+ Pregunta
		</a>
	</div>
{{/partial}}


{{> layout.html.hbs }}
