{{# partial "titulo" }}
	<title>Patitas - Matchear preguntas</title>
{{/partial}}

{{# partial "contenido" }}
	<h1>Matcheo de preguntas para {{nombre}} [ID {{asociacionId}}]</h1>
	<form class="row g-3" action="/preguntas-asociaciones">
		{{#cantidadMatcheos}}
			<div class="row g-2">
				<div class="col-md">
					<label for="matcheoDador{{this}}" class="form-label">Matcheo Dador {{this}}</label>
					<input type="text" class="form-control" name="matcheoDador{{this}}" id="matcheoDador{{this}}" {{#if @first}} required {{else}} {{/if}}>
				</div>
				<div class="col-md">
					<label for="matcheoAdoptante{{this}}" class="form-label">Matcheo Adoptante {{this}}</label>
					<input type="text" class="form-control" name="matcheoAdoptante{{this}}" id="matcheoAdoptante{{this}}" {{#if @first}} required {{else}} {{/if}}>
				</div>
			</div>
		{{/cantidadMatcheos}}
		<div>
			<input class="btn btn-primary" type="submit" value="Confirmar Matcheos"/>
		</div>
	</form>
{{/partial}}

{{> layout.html.hbs}}
