{{#partial "contenido" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<div class="d-flex flex-column align-items-center pt-3">
    <div class="input-group-sm mb-3">
        {{#if mascotasUsuario}}
            {{#each mascotasUsuario}}
                <img src="{{fotos.[0].link}}" class="card-img-top" alt="mascota">
                <p>El dueño es: {{duenio.usuario}} y su nombre es {{nombre}} + {{apodo}} </p>
                <div id="printable">
                    <div id="qrcode" value="{{id}}"></div>
                    <button id="qrprint">Imprimir</button>
                </div>
            {{/each}}
        {{else}}
            <div>
                <p> Todavia no tenes mascotas registradas en nuestro sitio, para registrar una hace
                <a href="/mascotas/registracion-mascota" class="btn btn-primary">click acá</a>.
                O anda a Home y selecciona la opción registrar mascota. </p>
            </div>
        {{/if}}
    </div>
</div>

<!-- (C) CREATE QR CODE ON PAGE LOAD -->
<script>
    window.addEventListener("load", function(){
        let id= document.getElementById('qrcode').getAttribute('value');
        let url="https://localhost:8080/mascotas/encontre-mascota/con-chapita/".concat(id)
        let qrc = new QRCode(document.getElementById("qrcode"), url);

        // (2) PRINT
        document.getElementById("qrprint").addEventListener("click", function(){
            var printwin = window.open("");
            printwin.document.write(document.getElementById("printable").innerHTML);
            printwin.stop();
            let qr = printwin.document.querySelector("#qrcode img");
            qr.addEventListener("load", function(){
                printwin.print();
                printwin.close();
            });
        });
    });
</script>
{{/partial}}

{{> layout.html.hbs}}