{{# partial "titulo" }}
	<title>Patitas - Preguntas de Asociaciones</title>
{{/partial}}

{{# partial "contenido" }}
<h1>Nueva Pregunta</h1>
<form class="row g-3" action="/asociaciones/{{asociacion}}/preguntas/nueva-pregunta-2">
	<div>
		<label for="concepto" class="form-label">Idea principal de las preguntas a realizar</label>
		<input type="text" class="form-control" name="concepto" id="concepto" required>
	</div>
	<div>
		<label for="preguntaDador" class="form-label">Pregunta para el dador</label>
		<input type="text" class="form-control" name="preguntaDador" id="preguntaDador" required>
	</div>
	<div>
		<label for="preguntaAdoptante" class="form-label">Pregunta para el adoptante</label>
		<input type="text" class="form-control" name="preguntaAdoptante" id="preguntaAdoptante" required>
	</div>
	<h2>Respuestas posibles para el dador</h2>
	{{#rangoDeRespuestas}}
		<div>
			<label for="respuestaPosibleDador{{this}}" class="form-label">Respuesta posible del dador {{this}}</label>
			<input type="text" class="form-control" name="respuestaPosibleDador{{this}}" id="respuestaPosibleDador{{this}}">
		</div>
	{{/rangoDeRespuestas}}
	<h2>Respuestas posibles para el adoptante</h2>
	{{#rangoDeRespuestas}}
		<div>
			<label for="respuestaPosibleAdoptante{{this}}" class="form-label">Respuesta posible del adoptante {{this}}</label>
			<input type="text" class="form-control" name="respuestaPosibleAdoptante{{this}}" id="respuestaPosibleAdoptante{{this}}">
		</div>
	{{/rangoDeRespuestas}}
	<div class="center-space-evenly">
		<button type="submit" class="btn btn-primary submit-button-error" onclick="volverAtras()">Volver atras</button>
		<button type="submit" class="btn btn-primary submit-button-error"/>Confirmar</button>
	</div>
</form>
{{/partial}}

{{> layout.html.hbs}}
