{{# partial "titulo" }}
	<title>Patitas - Preguntas Asociaciones</title>
{{/partial}}

{{# partial "contenido" }}
	{{#if esObligatoria}}
		<div class="titulo-preguntas">
			<h1>Preguntas Obligatorias de Asociaciones</h1>
			<form class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownAsociacionesDisponibles" data-bs-toggle="dropdown" aria-expanded="false">
					Filtrar por Asociación
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownAsociacionesDisponibles">
					<li><a class="dropdown-item" type="button" href="/asociaciones/0/preguntas">Deshacer filtro</a></li>
					{{#asociaciones}}
						<li><button class="dropdown-item" name="idAsociacion" type="submit" value="{{id}}">Asociación {{nombre}} [ID {{id}}]</li>
					{{/asociaciones}}
				</ul>
			</form>
		</div>
	{{else}}
		<div class="asociaciones-title">
			<h2>Preguntas No Obligatorias de la Asociación {{asociacion.nombre}} [ID {{asociacion.id}}]</h2>
			<div class="dropdown dropdown-asociaciones">
				<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
					Asociaciones...
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					{{#asociaciones}}
						<li><a class="dropdown-item" type="button" href="/asociaciones/{{id}}/preguntas">Asociación {{nombre}} [ID {{id}}]</a></li>
					{{/asociaciones}}
				</ul>
			</div>
		</div>
	{{/if}}
	{{#preguntas}}
		<div class="accordion accordion-flush" id="accordionFlushPregunta{{id}}">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-pregunta{{id}}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePregunta{{id}}" aria-expanded="false" aria-controls="flush-collapsePregunta{{id}}">
						Pregunta N{{id}}°
					</button>
				</h2>
				<div id="flush-collapsePregunta{{id}}" class="accordion-collapse collapse" aria-labelledby="flush-pregunta{{id}}" data-bs-parent="#accordionFlushPregunta{{id}}">
					<div class="accordion-body">
						<p>
							Pregunta del dador: {{preguntaDelDador}}
						</p>
						<p>
							Pregunta del adoptante: {{preguntaDelAdoptante}}
						</p>
					</div>
				</div>
			</div>
		</div>
	{{/preguntas}}
	<div class="agregar-pregunta">
		{{#if esObligatoria}}
			<a class="btn btn-primary" href="/asociaciones/0/preguntas/nueva-pregunta">
				Agregar Pregunta Obligatoria a Asociaciones
			</a>
		{{else}}
			<a class="btn btn-primary" href="/asociaciones/{{asociacion.id}}/preguntas/nueva-pregunta">
				Agregar Pregunta No Obligatoria
			</a>
		{{/if}}
	</div>
{{/partial}}

{{> layout.html.hbs}}
