{{# partial "titulo" }}
<title>Patitas - Preguntas Asociaciones</title>
{{/partial}}

{{# partial "contenido" }}
<div class="d-flex flex-column align-items-center pt-3">
	{{#if esObligatoria}}
	<h1>Preguntas Obligatorias de Asociaciones</h1>
	{{else}}
	{{#if asociacion}}
	<h1>Preguntas de la Asociación {{asociacion.nombre}}</h1>
	{{else}}
	<h1>Preguntas de Asociaciones</h1>
	{{/if}}
	{{/if}}
	<div class="w-100">
		<div class="py-3 w-100 d-flex justify-content-center boton-agregar-preguntas">
			<div class="agregar-pregunta">
				{{#if esObligatoria}}
				<a type="button"
					class="btn btn-primary btn-sm btn-agregar-preguntas {{#unless mostrarBotonAgregarPreguntas}} visibility-none {{/unless}}"
					href="/asociaciones/0/preguntas/nueva-pregunta">
					Agregar Pregunta Obligatoria
				</a>
				{{else}}
				<a type="button"
					class="btn btn-primary btn-sm btn-agregar-preguntas {{#unless mostrarBotonAgregarPreguntas}} visibility-none {{/unless}}"
					href="/asociaciones/{{asociacion.id}}/preguntas/nueva-pregunta">
					Agregar Pregunta para la asociacion "{{asociacion.nombre}}"
				</a>
				{{/if}}
			</div>
		</div>
		<div class="row w-100">
			<div class="col-4">
				<div class="list-group">
					<a class="list-group-item mb-3 asociacion" type="button" href="/asociaciones/0/preguntas">
						Preguntas Obligatorias Generales
					</a>
					{{#asociaciones}}
					<a class="list-group-item mb-3 asociacion" type="button"
						href="/asociaciones/{{id}}/preguntas">
						Ver Asociación "{{nombre}}"
					</a>
					{{/asociaciones}}
				</div>
			</div>
			<div class="col-8">
				{{#if preguntas}}
				{{#preguntas}}
				<div class="accordion accordion-flush preguntas-dropdown mb-3" id="accordionFlushPregunta{{id}}">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-pregunta{{id}}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapsePregunta{{id}}" aria-expanded="false"
								aria-controls="flush-collapsePregunta{{id}}">
								Concepto del par de preguntas: &nbsp <b>{{concepto}}</b>
							</button>
						</h2>
						<div id="flush-collapsePregunta{{id}}" class="accordion-collapse collapse"
							aria-labelledby="flush-pregunta{{id}}" data-bs-parent="#accordionFlushPregunta{{id}}">
							<div class="accordion-body">
								<p>
									Pregunta del dador: {{preguntaDelDador}}
								</p>
								<p>
									Pregunta del adoptante: {{preguntaDelAdoptante}}
								</p>
							</div>
						</div>
					</div>
				</div>
				{{/preguntas}}
				{{else}}
				<div class="center">
					<p>
						Seleccione una opción
					</p>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
<script>
<!-- FIXME: error en la vista al usar asociaciones Ordenadas -->
let id = Number.parseInt(window.location.href.split("/")[4])
const botonActivo = document.querySelectorAll(".asociacion")[id];
botonActivo.classList.add('active');
</script> 
{{/partial}}

{{> layout.html.hbs}}